In [1]:
import pandas as pd

capitals = pd.DataFrame(
    [
    ["Ngerulmud",391,1.87],
    ["Vatican City",826,100],
    ["Yaren",1100,10.91],
    ["Funafuti",4492,45.48],   
    ["City of San Marino",4493]
    ],
    index = ["Palau", "Vatican City", "Nauru", "Tuvalu", "San Marino"],
    columns = ['Capital','Population','Percentage']
)

In [2]:
capitals

                         Capital  Population  Percentage
Palau                  Ngerulmud         391        1.87
Vatican City        Vatican City         826      100.00
Nauru                      Yaren        1100       10.91
Tuvalu                  Funafuti        4492       45.48
San Marino    City of San Marino        4493         NaN

In [3]:
capitals.loc['Nauru','Population']

1100

In [4]:
capitals.loc['Palau':'Nauru', ['Population','Percentage']]

              Population  Percentage
Palau                391        1.87
Vatican City         826      100.00
Nauru               1100       10.91

In [12]:
capitals.iloc[[1,3]]

                   Capital  Population  Percentage
Vatican City  Vatican City         826      100.00
Tuvalu            Funafuti        4492       45.48

In [31]:
capitals.iloc[[1,3], 1:2]

              Population
Vatican City         826
Tuvalu              4492

In [35]:
capitals

                         Capital  Population  Percentage
Palau                  Ngerulmud         391        1.87
Vatican City        Vatican City         826      100.00
Nauru                      Yaren        1100       10.91
Tuvalu                  Funafuti        4492       45.48
San Marino    City of San Marino        4493         NaN

In [43]:
capitals

                         Capital  Population  Percentage
Palau                  Ngerulmud         391        1.87
Vatican City        Vatican City         826      100.00
Nauru                      Yaren        1100       10.91
Tuvalu                  Funafuti        4492       45.48
San Marino    City of San Marino        4493         NaN